{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="{{ asset('assets/demo.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/json-preview.js') }}"></script>
{% endblock %}

{% block sonata_admin_content %}
    {% block notice %}
        {% include '@SonataCore/FlashMessage/render.html.twig' %}
    {% endblock notice %}
    <div class="container">
        <div class="row">
            {{ form(form) }}
        </div>
    </div>




    <div class="ce-example">
        <div class="ce-example__content">
            <div id="codex-editor"></div>

            <div class="ce-example__button" id="saveButton">
               Сохранить
            </div>
        </div>
        <div class="ce-example__output">
            <pre class="ce-example__output-content" id="output"></pre>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('tools/header/bundle.js') }}"></script><!-- Header -->
    <script src="{{ asset('tools/simple-image/bundle.js') }}"></script><!-- Simple Image -->
    <script src="{{ asset('tools/delimiter/bundle.js') }}"></script><!-- Delimiter -->
    <script src="{{ asset('tools/list/bundle.js') }}"></script><!-- List -->
    <script src="{{ asset('tools/quote/bundle.js') }}"></script><!-- Quote -->
    <script src="{{ asset('tools/code/bundle.js') }}"></script><!-- Code -->

    <script src="{{ asset('tools/marker/bundle.js') }}"></script><!-- Marker -->
    <script src="{{ asset('tools/inline-code/bundle.js') }}"></script><!-- Inline Code -->

    <!-- Load CodeX Editor's Core -->
    <script src="{{ asset('tools/codex-editor.js') }}"></script>

    <!-- Initialization -->
    <script>
        $(document).ready(function () {
            /**
             * Saving button
             */
            const saveButton = document.getElementById('saveButton');

            /**
             * To initialize the Editor, create a new instance with configuration object
             * @see docs/installation.md for mode details
             */
            var editor = new CodexEditor({
                /**
                 * Wrapper of Editor
                 */
                holderId: 'codex-editor',

                /**
                 * Tools list
                 */
                tools: {
                    /**
                     * Each Tool is a Plugin. Pass them via 'class' option with necessary settings {@link docs/tools.md}
                     */
                    header: {
                        class: Header,
                        inlineToolbar: ['link'],
                        config: {
                            placeholder: 'Header'
                        }
                    },

                    /**
                     * Or pass class directly without any configuration
                     */
                    image: SimpleImage,

                    list: {
                        class: List,
                        inlineToolbar: true
                    },

                    quote: {
                        class: Quote,
                        inlineToolbar: true,
                        config: {
                            quotePlaceholder: 'Enter a quote',
                            captionPlaceholder: 'Quote\'s author',
                        },
                    },

                    marker: {
                        class:  Marker,
                        shortcut: 'CMD+SHIFT+M'
                    },

                    code: {
                        class:  CodeTool,
                        shortcut: 'CMD+SHIFT+D'
                    },

                    delimiter: Delimiter,

                    inlineCode: {
                        class: InlineCode,
                        shortcut: 'CMD+SHIFT+C'
                    },
                },

                /**
                 * This Tool will be used as default
                 */
                // initialBlock: 'paragraph',

                /**
                 * Initial Editor data
                 */
                data: {
                    blocks: getBlocks()
                },

                /*

                  */
                onReady: function(){
                    //saveButton.click();
                },
                onChange: function() {
                    console.log('something changed');
                }
            });

            /**
             * Saving
             */
            saveButton.addEventListener('click', function () {

                event.preventDefault();

                let form = $('form[name=form]');
                let formBody = form.find('.js-codex-editor__body');

                editor.saver.save().then((savedData) => {
                    cPreview.show(savedData, document.getElementById("output"));
                    formBody.val(JSON.stringify(savedData.blocks));
                    form.submit();
                });
            });

            function getBlocks() {

                let form = $('form[name=form]');
                let formBody = form.find('.js-codex-editor__body');

                return JSON.parse(formBody.val() ? formBody.val() : '{}');
            }

            cPreview.show(getBlocks(), document.getElementById("output"));

            console.log(getBlocks());
        });

        window.$date =     [
            {
                type: "header",
                data: {
                    text: "CodeX Editor",
                    level: 2
                }
            },
            {
                type : 'paragraph',
                data : {
                    text : 'Привет. Перед вами наш обновленный редактор. На этой странице вы можете проверить его в действии — попробуйте отредактировать или дополнить материал. Код страницы содержит пример подключения и простейшей настройки.'
                }
            },
            {
                type: "header",
                data: {
                    text: "О редакторе",
                    level: 3
                }
            },
            {
                type : 'list',
                data : {
                    items : [
                        'Это блочный редактор',
                        'На выводе отдает чистые данные',
                        'Имеет гибкие настройки и простой API',
                    ],
                    style: 'unordered'
                }
            },
            {
                type: "header",
                data: {
                    text: "Что значит «блочный» редактор",
                    level: 3
                }
            },
            {
                type : 'paragraph',
                data : {
                    text : 'Блоки — это структурные элементы, из которых состоит статья. Например <span class="inline-code">Параграф</span>, <span class="inline-code">Заголовок</span>, <span class="inline-code">Изображение</span>, <span class="inline-code">Видео</span> — это все Блоки. В CodeX Editor каждый Блок определяется плагином. Есть много готовых Блоков и простой API для создания новых. Например, вы можете создать Блок для Твиттера, Инстаграма, Опроса, Игры или CTA-кнопки.'
                }
            },
            {
                type: "header",
                data: {
                    text: "Что значит «чистые данные»",
                    level: 3
                }
            },
            {
                type : 'paragraph',
                data : {
                    text : 'В отличие от WYSIWYG-редакторов, CodeX Editor возвращает не сгенерированный HTML-код, включающий и содержание и оформление статьи, а JSON с данными о каждом Блоке. Пример таких данных находится внизу этой страницы.'
                }
            },
            {
                type : 'paragraph',
                data : {
                    text : 'Полученные данные можно использовать как угодно: выводить в вебе, рендерить в нативных мобильных приложениях, передавать в Instant Articles или Google AMP, использовать для генерации аудио-версии и тд.'
                }
            },
            {
                type : 'paragraph',
                data : {
                    text : 'Помимо этого, данные о Блоках удобно очищать, фильтровать и обрабатывать на бэкенде.'
                }
            },
            {
                type: 'image',
                data: {
                    url : 'https://ifmo.su/upload/redactor_images/o_e48549d1855c7fc1807308dd14990126.jpg',
                    caption: '',
                    stretched: false,
                    withBorder: true,
                    withBackground: false,
                }
            },
            {
                type : 'delimiter',
                data : {}
            },
            {
                type : 'paragraph',
                data : {
                    text : 'Мы работали над этим редактором более двух лет. В отладке принимали участие известные медиа-проекты: vc.ru, TJ, DTF — с их помощью удалось найти и исправить много ошибок, стабилизировать ядро. Вместе с этим мы развивали API, который позволяет создавать плагины под любые задачи. Надеемся, вам понравится!'
                }
            },
        ];


    </script>

{% endblock %}
